@import url(abstracts/variable.css);
@import url(base/base.css);

@import url(base/font.css);
@import url(base/helper.css);
@import url(base/normalize.css);
@import url(base/reset.css);
@import url(base/typgraphy.css);

#root,
.root {
  height: 100%;
}

/* Applies to all global svg icons */
.svg_icon {
  background-color: transparent;
  display: inline-block;
}
