.app {
  height: 100%;
  background-color: var(--clr-bg-primary);
  color: var(--clr-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
