body{
  /* background-color: var(--clr-bg-primary);
  color: var(--clr-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column; */
  height: 100vh;
  height: 100svh;
}


body p{
  text-align: justify;
  line-height: calc(1.5em + 0.2vw);
  width: 60ch;
  max-width: 100%;
}


