/* make 10px as default value of 1rem */
html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  height: 100svh;
}

body p {
  text-align: justify;
  line-height: calc(1.5em + 0.2vw);
  width: 60ch;
  max-width: 100%;
}
