@font-face {
  font-family: "RandRegular";
  src: url("/src/assets/fonts/Rand-Regular.woff2") format("woff2"),
       url("/src/assets/fonts/Rand-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}